* {
  font-family: sans-serif;
  text-decoration: none;
  background-color: #262626;
}

#nav a:link,
#nav a:visited {
	color:#FFFFFF;
	background:#FF0000;
  padding:10px 20px;
  float:left;
  width:100px;
  margin-right: 10px;
  text-align:center;
  border: 0px solid;
  border-radius: 12px
}

#nav a:hover,
#nav a:focus {
	color:#FFFFFF;
	background:#C20000;
}

#nav {
	margin:0;
	padding:0;
  float:left;
	width:100%;
}
#nav li {
	display:inline-block;
	padding:0;
	margin:0;
}
